h1{
    
    font-size: 80px;
    text-align: center;
    color: azure;
}  

h2{
    
    font-size: 80px;
    text-align: center;
    color: azure;
}

h3{
    
    font-size: 40px;
    text-align: center;
}
p{
    
    font-size: 80px;
    text-align: center;
    color: azure;
}
a
{  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(6, 245, 6);
    align-content: center;
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: bold;
}
body {
    
    background-color: black;
    width: 100%;
    height: 100%;
    animation: scroll 25s linear infinite;
    
    
    
}

.qrCode {
    
    display: flex;
    justify-content: center;
    
  }

.imgLogo{
    max-width: 350px; 
    max-height: 300px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    

}
  
