/* CSS reset para estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Estilos básicos da página */
body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Container principal */
.container {
    width: 80%;
    
}

/* Título do blog */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f37005;
    font-weight: bold;
    font-size: 350%;
    
}

/* Estilo do Top */
.top {
    background-color: #646060;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
}

/* Estilo dos posts */
.post {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
}

/* Título do post */
.post h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Data do post */
.post .date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

/* Conteúdo do post */
.post p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    font-weight: bold;
}
.images{
    width: 750px;
    padding: 20px;
}
.imagesTop{
    width: 100%; 
    
}

/* Estilos responsivos: */
@media (max-width: 768px) {
    .post {
        width: 100%;
    }
    .images {
        width: 100%;
    }
    .imagesTop {
        width: 100%;
    }
}
